
.single-card{
    display: flex;
    justify-content: flex-start;
}

.card{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
     margin: 1rem 0 1.2rem 0;
/* background-color: orange; */
}
.heading{
    font-size: 14px;
    font-weight: bold;
    color: rgb(110, 110, 110);
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.desc{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    height: 80px;

}

.rating_time{
    display: flex;
    justify-content: space-between;
}
.card p,hr{
    color: rgb(117, 117, 117);
    padding: 0;
    margin: 0;
}
.card p{
    font-size: 12px;
    padding: 0;
}
.line{
    padding: 0;
    background-color: #cccccc;
    width: 100%;
    height: 1px;
}

@media (min-width: 500px) and (max-width: 799px) {
    .single-card{
        display: none;
    }
}
@media (min-width: 800px) and (max-width: 1030px) {

    .single-card{
        display: none;
    }
}