/************************* Cart Page ********************************/

.checkout{
    margin: 10px 1rem 0 1rem;
}
.checkout-head{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}
.checkout-container{
    margin: 0 auto;
    margin-top: 5px;
    width: 60%;
    /* box-shadow: 0 0 10px #ccc; */
    padding: 0;
}
.checkout-container .checkout-card{
    display: flex;
    margin: 0;
    padding: 0;
}
.checkout-container .checkout-card .checkout-image{
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}
.checkout-details{
    margin-left: 20px;
    text-transform: capitalize;
}
.checkout-details .name{
    margin:0.3rem 0;
    font-size: 12px;
}
.checkout-details .price{
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
    font-size: 15px;
}
.checkout-details h3{
    padding: 0;
    margin-top:5px;
    margin-bottom: 0;
}
/* .orders{
     box-shadow: 0 5px 50px #ddd;
} */
.checkout .hr-cart{
    /* padding: 1px; */
    height: 1px;
    background-color: #ccc;
    width: 60%;
    margin: auto;
    margin-top: 15px;
}
.checkout-items{
    display: flex;
    margin-left: 120px;
}
.items{
    display: flex;
}
.delete{
    padding: 6px 10px;
    color: white;
    cursor: pointer;
    background-color: #EC4654;
    border: none;
    margin-left: 20px;

}
.items .bt{
    padding: 5px 10px;
    color: rgb(61, 59, 59);
    border: none;
}
.items .inc{
    background-color: #449D44;
    color: white;
}
.items .dec{
    background-color: #449D44;
    color: white;
}
.items .number{
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa ;
}
.checkout-button{
    text-align: center;
    padding: 1rem;
    margin-top: 10px;
    margin-left: 0;
    display: block;
}
.checkout-button .button{
    /* padding: 1rem;
    border: none;
    font-weight: bold;
    background-color: #ff5e62;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 3px;
    transition: background 0.3s ease; */
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 1rem 0.5rem;
    /* margin: 1rem; */
    width: 100%;
    background: #ff5e62; 
    border-radius: 3px;
    cursor: pointer;
}
.checkout-button .button:hover{
    color: #ff5e62;
    border: 2px solid #ff5e62;
    background: white;
}
@media (min-width : 300px) and (max-width : 499px){
    .checkout-container{
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
        /* box-shadow: 0 0 10px #ccc; */
        padding: 0;
    }
    .checkout .hr-cart{
        padding: 1px;
        background-color: #eee;
        width: 100%;
        margin: auto;
        margin-top: 10px;
    }

}



.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    position: fixed;
    top : 0;
    left : 0;
}
.order .cancel{
    margin: 0;
    padding: 8px;
    text-align: center;
    /*box-shadow: 0 0 10px black;*/
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: fixed;
    top: 11%;
    left: 67%;

}
.order{
    padding: 10px;
    background-color: white;
    width: 40%;
    height: 80%;
    z-index: 1001;
    position: fixed;
    top: 10%;
    left: 30%;
    margin: auto;
    overflow-y: scroll;
    transition: 0.5s all ease;
}
.order::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE and Edge */
.order {
    -ms-overflow-style: none;
}
.order .checkout{
    margin-top: 20px;
}
.order .checkout-container{
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    /* box-shadow: 0 0 10px #ccc; */
    padding: 0;
}
.order .checkout .hrl{
    padding: 1px;
    background-color: #ccc;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}
.order .checkout-container .checkout-card .checkout-image{
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
}
.order .checkout-button{
    padding: 0;
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
    display: block;
}
.order .checkout-button .button{
    margin: 0 ;
    padding: 20px;
    border: none;
    background-color: #ff5e62;
    color: white;
    cursor: pointer;
    width: 100%;
}
.order .hrl{
    padding: 1px;
    background-color: #ccc;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}
.order .total-details .total{
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.order .total-details .total .each-item{
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}
@media (min-width : 300px) and (max-width : 499px){
    .order .checkout-container{
        margin-top: 10px;
        width: 100%;
    }
    .order{
        padding: 10px;
        background-color: white;
        width: 85%;
        height: 80%;
        z-index: 1001;
        position: fixed;
        top: 10%;
        left: 5%;
        margin: auto;
    }
    .order .cancel{
        top: 11%;
        left: 85%;

    }

}


.hide{
    display: none;
}





