/* @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Notable&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --primaryColor :#ff5e62;
    bgColor: #f8484b;
}
.landing-image{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.text{
     /*background-color: red;*/
    width: 50%;
    padding : 1rem 4rem 1rem 1rem;
    text-align: justify;
    margin-left: 5rem;

}
.image{
    width: 90%;
    height: 100%;
    /*background-color: green;*/
}
/* .green{
     background-color: green;
} */
.head{
    font-size: 60px;
    font-weight: bolder;
    /* color: var(--primaryColor); */
    color: var(--primaryColor);
    margin-top: 10%;
    margin-bottom: 20px;
    /* font-family: 'Cinzel', serif; */
    font-family: 'Lobster', cursive;

}
.para{
    text-align: justify;
    padding: 0;
    margin: 0;
    color: #5e56f0;
    letter-spacing: 1px;
}
.get-started{
    border: none;
    margin-top: 60px;
    padding: 15px 70px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: var(--primaryColor);
    border-radius: 30px;
    transition: background  0.3s ease;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--primaryColor);;
}
.get-started:hover{
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    background: white;
}
@media(min-width : 301px) and (max-width : 1025px){
    .head{
        font-size: 60px;
        letter-spacing: 2px;
        font-weight: bolder;
        color: var(--primaryColor);
        margin-top: 40%;
    }
    .landing-image{
        display: flex;
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 0;
        width: 100vw;
    }
    .text{
        /* background-color: red; */
        width: 100%;
        /* padding : 1rem 4rem 0 4rem; */
        padding: 1rem;
        text-align: center;
        background-image: url('./../../../images/launch-image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 83vh;
        overflow: hidden;
        position: relative;
        margin-left: 0;
        z-index: 1;
        color: rgb(134, 133, 133);
    }
    .text::before{
        background-color: rgba(0, 0, 0, 0.6);
        content: '';
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .banner-image{
        display: none;
    }
    .head{
        padding: 0;
        text-align: center;
        z-index: 1;
    }
    .para{
        text-align: center;
        padding: 0;
        font-size: 18px;
        margin: 0;
        color: rgb(231, 229, 229);
    }
    .get-started{
        border: none;
        margin-top: 50px;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color:var(--primaryColor);
        border-radius: 30px;
        transition: all  0.3s ease;
        cursor: pointer;
        box-shadow: 5px 5px 30px var(--primaryColor);
        border: 2px solid var(--primaryColor);
        
    }
    .get-started:hover{
        border: 2px solid var(--primaryColor);
        background-color:var(--primaryColor);
        color: white;
    }
}