@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.main-about{
  margin-top: 150px;
  margin-bottom: 60px;
}

.pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #ccc  ;
    background-position: center;
   
    
}
section{
    margin: 2rem 10rem;
    text-align: center;
}
.main-about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ramu{
    margin-bottom: 1rem;
}
.ramu,.kalyan{
    margin-right: 1.5rem;
    padding: 1rem;
    box-shadow: 0px 0px 1px #eee;
    border: 1px solid rgb(236, 236, 236);


}
.kalyan{
    margin-top: -1rem;
}
.ramu h2,.kalyan h2{
    font-size: 25px;
    letter-spacing: 2px;
        font-family: 'Lobster', cursive;
        color: #FF5E62;
}
.ramu h6,.kalyan h6{
    font-size: 18px;
    font-weight: normal;
}

.ramu>p,.ramu>h3,.ramu>h6,.kalyan>p,.kalyan>h3,.kalyan>h6{
    padding: 0.5rem;
    color: rgb(134, 133, 133);
}
.ramu>p,.kalyan>p{
    text-align: justify;
}
 
  .about_socialIcons{
      height: 80px;
      display:flex;
      justify-content: space-around;
      align-items: center;
      font-size: 25px;
     

  }
  .about_socialIcons a:active ,.about_socialIcons a{
      color: purple;
  }
  .about_country{
padding: 0.5rem;
display: inline;
  }
/* MEDIA QUERIES */
@media (max-width:900px){
    .main-about{
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
    }
    .ramu,.kalyan{
        margin: 1rem;
        box-shadow: 0px;
    }
    section{
      margin:0
    } 
    
    
    }
  
