

.contact{
text-align: center;
  background-image:
  linear-gradient(90deg, rgba(247, 112, 98, 0.44), rgba(254, 81, 150, 0.5)),
  url('../../images/pizza.jpg');
  width: auto;
  height:600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.contact_card{
  border: 1px solid rgb(230, 230, 230);
  width: 600px;
  height: 440px;
  background-color: white;
  border-radius: 4px;
  
}
.contact_input_fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_card h2{
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0.7rem;
  color: rgb(105, 105, 105);
}
 .contact_input_fields input,.contact_input_fields textarea{
  border: none;
  background-color: transparent;
  padding: 1.5rem 0;
  width: 90%;
  border-bottom: 1px solid rgb(105, 105, 105);;
  color: rgb(105, 105, 105);
  text-indent: 20px;
}
.contact_input_fields input,.contact_input_fields textarea{
  border-bottom: 1px solid rgb(105, 105, 105);;
}
.contact_input_fields input::placeholder,.contact_input_fields textarea::placeholder{
  color: rgb(105, 105, 105);
}
.contact_input_fields button{
  background:  linear-gradient(90deg, rgba(247, 112, 98, 1), rgba(254, 81, 150, 1));
  border: none;
  color: white;
  width: 90%;
  padding: 1rem 0;
  margin-top: 3.5rem;
  cursor: pointer;
  font-weight: bold;
  letter-spacing:1px;
}
.contact_input_fields button:disabled{
  background: #cccccc;
  cursor:not-allowed !important;
}
@media (max-width: 900px){
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin:1rem;
    background-image: none;
  }
  .contact_card{
    border: 1px solid rgb(230, 230, 230);
  }
  .contact iframe,.contact .contact_card{
    width: 100%;
    height: 400px;
    margin: 0.5rem 0;
  }
  .contact_input_fields input,.contact_input_fields textarea{
    border-bottom: 1px solid gray;
  }
  .contact_input_fields input::placeholder,.contact_input_fields textarea::placeholder{
    color: rgb(105, 105, 105);
  }
  .contact_card h2{
    color: rgb(105, 105, 105);
  }
}