
.contact{
text-align: center;
  background-image:
  linear-gradient(90deg, rgba(247, 112, 98, 0.44), rgba(254, 81, 150, 0.5)),
  url('../../images/pizza.jpg');
  width: auto;
    height: 480px;
  background-size: cover;
  background-position: center;
  /* color: white; */
  display: flex;
  align-items: center;
}

.contact_card{
  height: 350px;
  width: 350px;
  background-color: white;
  /* box-shadow: 0 0 1px #eee; */
  border-radius: 4px;
  margin: auto;
  
}
.contact_input_fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_card h2{
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0.7rem;
  color: rgb(105, 105, 105);
}
 .contact_input_fields input,.contact_input_fields textarea{
  border: none;
  background-color: transparent;
  padding: 1.5rem 0;
  width: 90%;
  border-bottom: 1px solid gray;
  color: gray;
  text-indent: 20px;
}
.contact_input_fields input::placeholder,.contact_input_fields textarea::placeholder{
  color: gray;
}
.contact_input_fields button{
  background:  linear-gradient(90deg, rgba(247, 112, 98, 1), rgba(254, 81, 150, 1));
  border: none;
  color: white;
  width: 90%;
  padding: 1rem 0;
  margin-top: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  letter-spacing:1px;
}
