@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --main-bg-color: rgb(72, 158, 72);
}

* {
  margin: 0;
  padding: 0;
}

body,html{
  /* background-color: yellow; */
  font-family: 'Lato', sans-serif;
  /* font-size: 62.5%; */
}